<!DOCTYPE html>
<html lang="en">
<head>
    <title>Page unavailable</title>
</head>
<style type="text/css">
body{background-image: url("/static/img/555.jpg");}
header{text-align: center;}
#title{width: 90%; margin: 0 auto;text-align: center;padding-top: 30px;}
</style>
<body>
<div id='title'>
<header>
<h1 style='font-size:2em;'>采集后台管理系统</h1>
</header>
</div>
<div style="color:red;">
    <h1>Page unavailable (500)</h1>

    <p>Sorry, but the requested page is unavailable due to a
    server hiccup.</p>

    <p>Our engineers have been notified, so check back later.</p>
</div>
</body>
</html>